.app-template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 14rem;
}

.app-template .appcell-bg {
  width: 26rem;
  height: 50rem;
  border-radius: 3rem 3rem;
  background-color: #ffffff;
  display: grid;
  place-items: center;
}

.app-template .appcell {
  width: 24.5rem;
  height: 48.5rem;
  border-radius: 3rem 3rem;
  background-color: var(--lGrayViolet);
}

.appcell .profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  background: linear-gradient(-90deg, #e942ff,#8838ff);
  border-radius: ;
} 

